@import '../../app/css/_variables.scss';

.net-button {
  border: 0;
  border-radius: 5px;
  padding: 0 1em;
  cursor: pointer;

  &--primary {
    background: $bg-color-primary;
    color: #fff;
  }

  &--secondary {
    background: $bg-color-secondary;
    color: #fff;
  }

  &--large {
    font-size: 1rem;
    min-height: 40px;
  }

  &--medium {
    font-size: 1rem;
    min-height: 30px;
  }

  &--small {
    font-size: 1rem;
    min-height: 20px;
  }
}
